*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.top-header{
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
h2{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.top-header .header-item {
	display: grid;
	grid-template-columns: 1fr 6fr;
	align-items: center;
	column-gap: 40px;
}
.top-header .header-item .date{
    text-align: center;
}
.top-header .header-item .logo img{
    width: auto;
}
.top-header .header-item .menubar{
    text-align: right;
}
.top-header .header-item .menubar li{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-right: 40px;
    text-transform: capitalize;
}
.top-header .header-item .menubar li:last-child{
    margin-right: 0px;
}
.top-header .header-item .menubar li a{
    text-decoration: none;
    color: #333;
    transition: .4s;
}
.top-header .header-item .menubar li a:hover{
    color: #000;
}
.slicknav_menu {
	display: none;
}
/* top heade section end */
.banner-section img{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
	position: relative;
	top: -70px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
	display: none;
}

#datetime {
    font-size: 16px;
    text-align: right;
    color: #fff;
}
.date-section .date-time p{
    color: #fff;
}
/* banner section end */
/* service section start */

/* service section end */
.servive-section {
    padding-top: 40px;
    padding-bottom: 80px;
}
.servive-section .main-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.servive-section .main-column .flex-column img{
    width: 100%;
}
.servive-section .main-column .flex-column h3{
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
    margin: 10px 0px;
}
.servive-section .main-column .flex-column span{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: red;
    margin-top: 10px;
}
/* feadback section start */
.feadback-section{
    padding-bottom: 60px;
}
.feadback-section .main-column{
    width: 550px;
    margin: 0 auto;
    text-align: center;
}
.feadback-section .main-column img {
	width: auto;
	text-align: center;
	margin: 0 auto;
}
.feadback-section h2{
    color: #333;
}
.feadback-section .main-column h4{
    font-size: 18px;
    font-weight: 400;
    color: red;
    margin: 10px 0px;
    text-transform: uppercase;
}

/* faq page design start */
.faq{
    margin-top: 40px;
    padding-bottom: 60px;
    margin-bottom: 40px;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 29px;
    font-weight: 600;
    color: #000;
}
.faq {
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.question {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}
.question h2 {
    margin-top: 0;
    color: #333;
    cursor: pointer; 
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}
.question p.answer {
    margin-bottom: 0;
    color: #666;
    display: none; 

}
/* faq page design end */
/* gallery section start */
.gallery-section .main-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}
.gallery-section .main-column .flex-column{
    position: relative;
}
.gallery-section .main-column .flex-column img{
    width: 100%;
    display: block;
}
.gallery-section .main-column .flex-column::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .4;
}
/* gallery section end */
/* service section end */
.socket{
    background: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}
.socket p{
    text-align: center;
    color: #fff;
}
/* about page desing start */
.about-banner-section .banner{
    position: relative;
}
.about-banner-section .banner img{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.about-banner-section .banner .container .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-banner-section .banner .container .content h5{
    font-size: 29px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.about-section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.about-section .main-col{
    display: grid;
    grid-template-columns: 2fr 4fr;
    column-gap: 40px;
    align-items: center;
}
.about-section .main-col .image-col img{
    width: 100%;
}
.about-section .main-col .about-content h4{
    font-size: 22px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
.about-section .main-col .about-content p{
    margin-bottom: 10px;
}
.about-section .main-col .about-content a{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 10px 25px;
    background: #FBB03B;
    border-radius: 5px;
    transition: .4s;
    margin-top: 10px;
}
.about-section .main-col .about-content a:hover{
    background: #333;
    color: #fff;
}
/* about page desing end */

/* coontact page design start */
.contact-section{
    padding-bottom: 60px;
    padding-top: 60px;
}
.contact-section .main-col{
    display: grid;
    grid-template-columns: 4fr 2fr;
    column-gap: 40px;
}
.contact-section .main-col .contact-form input, textarea{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    border: 1px solid #333;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    text-transform: capitalize;
}
.contact-section .main-col .contact-form .full-name{
    display: flex;
    flex-wrap: wrap;
}
.contact-section .main-col .contact-form .full-name .first-name{
    width: 40%;
    margin-right: 5%;
}
.contact-section .main-col .contact-form .full-name .last-name{
    width: 55%;
}
.contact-section .main-col .contact-form textarea{
    height: 130px;
    resize: none;
}
.contact-section .main-col h3{
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
}
.contact-section .main-col .contact-form .btn input{
    width: 20%;
    cursor: pointer;
    background: #FBB03B;
    border: 1px solid #FBB03B;
    color: #333;
    border-radius: 5px;
    transition: .4s;
}
.contact-section .main-col .contact-form .btn input:hover{
    background: #333;
    color: #fff;
    border: 1px solid #333;
}
.contact-section .main-col .icon li{
    list-style: none;

}
.contact-section .main-col .icon li a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 25px;
}
.contact-section .main-col .icon li i{
    color: #19CEE7;
    margin-right: 10px;
}
.map{
    padding-bottom: 80px;
}
/* coontact page design end */

.date{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.date #datetime{
    color: #333;
    text-align: center;
}
/* date end */


@media screen and(max-width:989px){
    .container{
        padding-left: 25px;
        padding-right: 25px;
    }
    .slicknav_menu{
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media screen and (max-width: 800px){
    .about-section .main-serive {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .about-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .contact-banner img {
        height: 200px;
    }
    .about-section .main-serive .about-content h4 {
        font-size: 22px;
        margin-bottom: 6px;
    }
    .service-header-content {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .contact-section .header {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .contact-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .faq {
        padding: 10px;
    }
    h1 {
        margin-bottom: -10px;
        margin-top: 10px;
        font-size: 24px;
    }
    .faq {
        margin-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 767px){
    .owl-carousel .owl-item .banner-section img {
        height: 250px;
    }
}
@media screen and (max-width: 640px){
    .top-header .header-item .logo img {
        width: 150px;
    }
    .feadback-section .main-column {
        width: 100%;
        text-align: center;
    }
    .top-header .header-item .menubar {
        display: none;
    }
    .slicknav_menu {
        display: block;
        position: absolute;
        right: 0;
        background: none;
        top: 22px;
        padding: 0;
    }
    .slicknav_nav {
        position: relative;
        top: 43px;
        background: #333;
        z-index: 99999;
        width: 350px;
        text-align: center;
        height: 100vh;
    }
    .slicknav_nav li{
        line-height: 30px;
        font-size: 14px;
        text-transform: uppercase;
    }
    .slicknav_btn {
        background: none;
        margin-right: 27px;
    }
    .slicknav_menu .slicknav_menutxt {
        display: none;
    }
    .slicknav_open::after{
        content: '\f00d';
        position: absolute;
        left: 5px;
        color: #000;
        font-size: 18px;
        font-family: fontawesome;
    }
    .slicknav_collapsed::before{
        content: '\f0c9';
        position: absolute;
        left: 5px;
        color: #000;
        font-size: 18px;
        font-family: fontawesome;
    }
    .slicknav_menu .slicknav_icon {
        display: none;
    }
    .servive-section .main-column {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .servive-section {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .about-banner-section .banner img {
        height: 150px;
    }
    .about-section .main-col {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .contact-section .main-col {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .map {
        padding-bottom: 35px;
    }
}
@media screen and (max-width: 520px){
    .contact-section .main-col .contact-form .btn input {
        width: 35%;
    }
    .about-banner-section .banner .container .content h5 {
        font-size: 26px;
    }
}
@media screen and(max-width:480px){
    
}
/* responsive design end */
